<main>
    <h4>Register Form</h4>
    <div class="form-container">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <div class="my-input-group">
                <label for="email">Email</label>
                <input type="text" id="email" formControlName="email">
            </div>

            <div class="my-input-group">
                <label for="password">Password</label>
                <input type="text" id="password" formControlName="password">
            </div>

            <div class="my-input-group mt-2">
                <button class="btn btn-primary" type="submit">Register</button>
            </div>
        </form>


    </div>
</main>