<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
  <a class="navbar-brand" >Navbar</a>
  <button (click)="toggleNav()" class="navbar-toggler" type="button"  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " [class.show]="navOpen" >
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies" routerLinkActive="active-menu-item" >Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies/genres" routerLinkActive="active-menu-item" >Genres</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies/search" routerLinkActive="active-menu-item" >Search</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/movies/actors" routerLinkActive="active-menu-item" >Actors</a>
      </li>
      
    </ul>
  </div>
</nav>