.movie {
    max-width: 28vw;
    margin: auto;

    border: 1px solid #DDF6D2;
    border-radius: 10px;
    padding: 10px;

    @media screen and (max-width: 500px) {
        max-width: 90vw;
    }

    .img {
        border-radius: 10px;
        overflow: hidden;
        width: fit-content;
        margin: auto;
        img{
            width: 100%;
        }
    }

    .title-and-year {
        color: #060606;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            &:nth-child(1) {
                font-size: 22px;
            }

            &:nth-child(2) {
                font-size: 12px;
            }
        }
    }

    .director-and-rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .genres,
    .actors {
        ul {
            list-style: none;
        }
    }
    .actors{
        font-weight: 600;
    }

}