.movie-list {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: calc(10px + 1vmin);
    color: black;
    gap: 15px;

    .movie {
        background: linear-gradient(0deg, #ECFAE5, #CAE8BD);
        border: 1px solid #DDF6D2;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 10px 10px 5px 0px rgba(130, 122, 122, 0.75);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(130, 122, 122, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(130, 122, 122, 0.75);

    }
}